# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Archivos de configuración con credenciales
config.py

# Entornos virtuales
venv/
env/
ENV/

# Archivos del IDE
.vscode/
.idea/
*.swp
*.swo